apiVersion: v1
kind: Secret
metadata:
  name: ghcr-creds
  namespace: argocd
  annotations:
    argocd-image-updater.argoproj.io/credentials-type: docker
stringData:
  username: {{ GHCR_USERNAME }}
  password: {{ GHCR_PAT }}
